@media screen and (max-width: 500px) {

    .navbar{
        background-color: #eae5e5;
        box-shadow: -0px -7px 7px 0 rgba(255, 255, 255, 0.79);
        position: fixed;
        width: 100%;
        padding: 1.5vh 0;
        bottom: 0vh;
        border-top: 1px solid #007aff;
        z-index: 1;

    }
    .navbar ul{
        display: flex;
        height: 10vh;
        justify-content: space-around;
        align-items: center;
    }
    .navbar ul li{
        list-style-type: none;
        padding: 2vh 3vw;
        /* margin: 1vw; */
        border-radius: 10px;


        box-shadow: 4px 4px 4px 0 rgba(77, 75, 75, 0.163),
                    -5px -5px 4px 0 rgba(255, 255, 255, 0.616);



    }
    .navbar ul li a{
        text-decoration: none;
        color: #007aff;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 1.5vh;
    }
}